* {
  margin: 0px;
  padding: 0px;
}
.general {
  background-image: url(./images/bg.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}
.topLogo {
  display: flex;
  justify-content: center;
  height: 210px;
}
.logo {
  margin-top: 1.5rem;
  width: 70px;
  height: 70px;
}
.loginPage {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
  height: 450px;
}
.switches {
  display: flex;
}
.twoDropdown {
  color: white;
}
.firstDropdown {
  border: 1px solid gray;
  width: 160px;
  height: 35px;
  border-radius: 5px;
  color: gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup {
  font-size: 0.8rem;
  display: flex;
  height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.firstSelect {
  margin-left: 0.5rem;
}
.caretDown {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}
.secondDropdown {
  border: 1px solid gray;
  width: 160px;
  height: 35px;
  border-radius: 5px;
  color: gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  opacity: 0.2;
}
.secondSelect {
  margin-left: 0.5rem;
}

.openfirstDropdown {
  border: 1px solid gray;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  color: gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.openSelect {
  margin-left: 0.5rem;
}
.text-open {
  visibility: hidden;
}

.openBoxDropdown {
  border: 1px solid gray;
  width: 150px;
  height: 120px;
  border-radius: 5px;
  color: gray;
  background-color: white;
  margin-top: 0.15rem;
}
.openBoxSelect {
  margin-left: 0.5rem;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-tickedSlider {
  font-size: 13px;
  color: white;
}
.bigSlider {
  width: 270px;
  height: 15px;
  border: 1px solid white;
  border-left: #9c346b;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 3rem;
}

.ticks {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  z-index: 1;
}
.purple {
  width: 105px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #9c346b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twoticks {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9c346b;
  z-index: 0;
}
.text-Switch {
  color: white;
  font-size: 13px;
}
.switches {
  display: inline;
}
.switchButtons {
  display: flex;
  margin-top: 0.75rem;
}
.switchOne {
  width: 45px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #9c346b;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1rem;
}

.switchTwo {
  width: 45px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #9c346b;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 0.3;
}
.secTicks {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  z-index: 1;
}
.smallSlider {
  margin-top: 3rem;
}
.text-Slider {
  color: white;
  font-size: 13px;
}
.lastSlider {
  width: 200px;
  height: 15px;
  border: 1px solid white;
  border-left: #9c346b;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 3rem;
}
.purpleTwo {
  width: 105px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #9c346b;
  display: flex;
  justify-content: end;
  align-items: center;
}
.text-chart {
  color: white;
  font-size: 13px;
}

.chart-border {
  width: 250px;
  height: 360px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-top: 0.75rem;
}
.headline {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 0.25rem;
}
.headlineText {
  color: black;
  opacity: 0.8;
}
.subheadline {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.subheadlineText {
  color: black;
  opacity: 0.5;
}
.donut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donutChart {
  height: 100px;
  width: 100px;
  border: 10px solid #9c346b;
  border-left: 10px solid rgba(156, 52, 107, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.percentage {
  color: black;
  opacity: 0.8;
  font-size: 2.75rem;
}
.button {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}
.buttonText {
  border: 1px solid white;
  width: 135px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c346b;
  border-radius: 10px;
}
.buttonSpan {
  font-size: xx-large;
  color: white;
}
.text-picker {
  color: white;
  font-size: 13px;
}
.calenderBorder {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-top: 0.75rem;
}
.month {
  height: 60px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.monthText {
  font-size: 20px;
  margin: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.arrows {
  display: flex;
}
.boxarrow {
  width: 30px;
  height: 30px;
  background-color: #9c346b;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  margin: 0.15rem;
}
.arrowLeft {
  width: 18px;
  height: 18px;
  align-self: center;
}
.arrowRight {
  width: 18px;
  height: 18px;
  align-self: center;
}
.weekdays {
  margin: 0;
  padding: 5px 0;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* Days (1-31) */
.days {
  padding: 10px 0;
  background: white;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 15%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #9c346b;
  color: white !important;
  border-radius: 5px;
}
